<!doctype html>
<html lang="vi">

<head>
  <%- include('../layout/head'); %>
</head>

<body>
  <%- include('../layout/header'); %>

  <%- include('./hero-unit'); %>
  <%- include('./intro-1'); %>
  <%- include('./intro-2'); %>
  <%- include('./product-list'); %>

  <%- include('../layout/footer'); %>

  <%- include('../layout/foot'); %>
</body>

</html>
